# .env
# This file is used to store environment variables for the application.
# It is used by the Flask application to configure the application.
# It is not used by the Docker container.   

FRONTEND_URLS=http://localhost:3031
DATABASE_URI=postgresql://postgres:password@postgres:5432/iot_db
VALID_KEY=XXV7lnIse9q4YGA11pXA
FIRMWARE_DIR=/firmware
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_EX=3600
SESSION_KEY=PyoggzanvezwPPB9KcAjeBMEP6xiNhWD