* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial;
    background-color: #f0f0f0f0;
    padding: 50px;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.home {
    margin: 20px auto;
    width: 300px;
}

.home-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.home-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

input[type=text]:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #49cc90;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.home-btn {
    border: 2px solid transparent;
    background: #49cc90;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    margin: 0 auto;
}

.btn:hover {
    /* background-color: #2980B9; */
    box-shadow: 0 0 5px #0000008a;
}

.home-btn:hover {
    /* background-color: #2980B9; */
    box-shadow: 0 0 5px #0000008a;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

/* Reset margin and padding for app-title */
.app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

/* Margin for the logo to create spacing */
.app-title img {
    margin-right: 10px; 
}

/* Styling for the h1 title */
.app-title h1 {
    margin: 0; 
    font-size: 24px;
    color: #333;
}
