<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
</head>

<body>
    <div class="home">
        <div class="home-screen">
            <div class="app-title">
                <img src="/static/logo.png" alt="Logo" height="40px">
                <h1>Welcome!</h1>
            </div>
            <div class="home-form">
                <a href="/api/docs" class="home-btn btn-primary btn-large btn-block" style="margin: 10px 0;">API
                    Docs</a>
                <a href="/auth/logout" class="home-btn btn-primary btn-large btn-block"
                    style="margin: 10px 0;">Logout</a>
            </div>
        </div>
    </div>
</body>

</html>